.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    padding: 20px;
    margin-top: auto;
  }
  
  .icons {
    display: flex;
    flex-direction: column;
  }
  
  .icon {
    margin-bottom: 10px;
    width: 95%;
    background-color: #dadada;
    border: 10px solid rgb(26, 79, 255);
    padding: 10px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
  }
  
  .icon img {
    width: 150px;
    height: 150px;
  }
  
  .sliders {
    display: flex;
    flex-direction: column;
    width: 50%;
  }
  
  .slider {
    margin-bottom: 70px;
    margin-top: 70px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgba(0, 0, 0, 0.173);
    border-radius: 10px;
  }
  
  .slider-input {
    width: 100%;
    color: black;
  }

  header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 145px;
    background: #dadada;
    border-style: solid;
    border-width: 10px;
    border-color: rgb(26, 79, 255);
    border-radius: 20px;
  }
  
  .header-icon img {
    width: 100px;
    height: 100px;
  }
  
  body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: #dadada;
    background: radial-gradient( #dadada 0%, #ffca5f56 100%);
  }
  
  canvas{
    position:absolute;
    left:0;
    top:0;
    z-index:-1;
    
}

#icon1{
  border: 5px solid rgb(26, 79, 255);
  border-radius: 20px;
}

#icon2{
  border: 5px solid rgb(26, 79, 255);
  border-radius: 20px;
}

#icon3{
  border: 5px solid rgb(26, 79, 255);
  border-radius: 20px;
}

#icon4{
  border: 5px solid rgb(26, 79, 255);
  border-radius: 20px;
}

#clock {
  display: flex;
  justify-content: end;
  align-items: end;
  font-family: Arial, sans-serif;
  font-size: 24px;
  font-weight: bold;
  color: #333;
  background-color: #dadada;
  padding: 10px;
  margin-left: 100px;
  border-radius: 10px;
  border: 5px rgb(26, 79, 255) solid;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

#audio{
  display: flex;
  justify-content:center;
  align-items: center;
  font-family: Arial, sans-serif;
  font-size: 21px;
  font-weight: bold;
  color: #333;
  background-color: #dadada;
  padding: 10px;
  border-radius: 10px;
  border: 5px rgb(26, 79, 255) solid;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
